	body{ font-size: 75%;}
	#sortable { list-style-type: none; margin: 0; padding: 0; width: 30%; }
	#sortable li { margin: 3px 3px 3px 3px; padding: 0.3em; padding-left: 1.5em;}
	#sortable li .arrows { float: left; margin-left: -1.3em; }
	.pullright {float: right;}
	.clear {clear: both;}

.primary-1 { background-color: #30659D }
.primary-2 { background-color: #375C82 }
.primary-3 { background-color: #184778 }
.primary-4 { background-color: #5489C1 }
.primary-5 { background-color: #6893C1 }

.secondary-a-1 { background-color: #5437A5 }
.secondary-a-2 { background-color: #513D8A }
.secondary-a-3 { background-color: #361C7F }
.secondary-a-4 { background-color: #775AC6 }
.secondary-a-5 { background-color: #856EC6 }

.secondary-b-1 { background-color: #2DB255 }
.secondary-b-2 { background-color: #389454 }
.secondary-b-3 { background-color: #178839 }
.secondary-b-4 { background-color: #50CE76 }
.secondary-b-5 { background-color: #67CE86 }

.complement-1 { background-color: #F1A83C }
.complement-2 { background-color: #C8964B }
.complement-3 { background-color: #B87B1F }
.complement-4 { background-color: #F6BA5F }
.complement-5 { background-color: #F6C57B }
	
	
	.todoitem {}
