body{ padding: 0; margin: 0; font-size: 75%; background-color: #F8FDFF; }
.connectedSortable { list-style-type: none; margin: 0 auto 0 auto; padding: 0; }
.connectedSortable li .todo_inner {margin: 3px; padding: 0.3em; padding-left: 1.3em; line-height: 1.5em; }
.connectedSortable li .todo_inner .arrows { float: left; margin-left: -1.3em; }
.connectedSortable li .ui-accordion-content { margin: -0.3em 1.3em 0 1.3em; border-top: none; padding: 0.5em;}
/*.connectedSortable li .ui-state-highlight {background-color: #F2EDFF; background-image: none; border-color: #BFA6FF}*/

.dfield {width: 7em; text-align: right; display: inline-block;}
.hide-icon {background-position: -9000px -9000px;}

.ui-dialog .description {width: 95%}
.progress_text {display: inline-block; position: absolute; bottom: 0.3em; right: 8.5em; width: 1em; z-index: 0;}

.pullright {float: right;}
.pullleft {float: left; margin-left: -1px;}
.clear {clear: both;}

.hidden {display: none;}

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { float: left; width: 20em; background-image: none; padding-bottom: 0.5em;}
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 19em; margin: 0 .2em .3em .5em; border: 1px solid rgb(42,163,255) !important;}
.ui-tabs-vertical .ui-tabs-nav li a { display:block; z-index: 1; width: 15em}
.ui-tabs-vertical .ui-tabs-panel { padding-top: 0; position: absolute; right: 1em; left: 20em;}
.ui-tabs-vertical .ui-tabs-nav li .ui-icon-close { float: right; clear: none; margin: 0.4em 0.2em 0 0; cursor: pointer; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {margin-bottom: 0.2em; padding: 0;}

/* fix the text styles */
.ui-progressbar a {color: #000000 !important; font-weight: normal !important;}
.progress_text {color: #000000 !important; font-weight: normal !important; align: center;}
.ui-dialog { margin:0 auto; }

/* for better progress bars */
.ui-progressbar-value {
  background-image: url("/static/jq/css/custom-theme/images/ui-bg_inset-soft_100_deedf7_1x100_green.png") !important;
}

/* header */
.header {margin: 0; height: 3em; background-color: #F8FDFF; width: 100%; position: absolute; top:0; border-bottom: 1px solid #F0F8FF; z-index:1;}
.content {padding-left: 1em; padding-right: 1em; padding-top: 4em;}
#sitetitle {display: block; float: left; font-size: 2em;margin-top:0.25em; padding-left: 1em; }
ul.menu {float: right; margin-right: 3em; border-right: 1px solid black;}
ul.menu li {display: inline-block; padding-left: 1em; padding-right: 1em; border-left: 1px solid black;}
#mainprogress {position: relative; display: block; margin-left: auto; margin-right: auto; margin-top: 0.5em; height: 1.5em; width: 40em; z-index: -1 !important;}
