body{ font-size: 75%; }/* background-image: url('back.png'); background-attachment: fixed; background-repeat: repeat-x; background-color: #361C7F; text-align: center;}*/
.connectedSortable { list-style-type: none; margin: 0 auto 0 auto; padding: 0; }
.connectedSortable li .todo_inner {margin: 3px; padding: 0.3em; padding-left: 1.3em; line-height: 1.5em; }
.connectedSortable li .todo_inner .arrows { float: left; margin-left: -1.3em; }
.connectedSortable li .ui-accordion-content { margin: -0.3em 1.3em 0 1.3em; border-top: none; padding: 0.5em;}

.pullright {float: right;}
.pullleft {float: left; margin-left: -1px;}
.clear {clear: both;}

.hidden {display: none;}

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { float: left; width: 20em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 19em; margin: 0 .2em .3em .5em; border: 1px solid rgb(42,163,255) !important;}
.ui-tabs-vertical .ui-tabs-nav li a { display:block; width: 15em;}
.ui-tabs-vertical .ui-tabs-panel { padding-top: 0; position: absolute; right: 1em; left: 20em;}
.ui-tabs-vertical .ui-tabs-nav li .ui-icon-close { float: left; clear: none; margin: 0.4em 0.2em 0 0; cursor: pointer; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {margin-bottom: 0.2em; padding: 0;}

/* fix the text styles */
.ui-progressbar a {color: #000000 !important; font-weight: normal !important;}
.progress_text {color: #000000 !important; font-weight: normal !important; align: center;}
.ui-dialog { margin:0 auto; }

/* for better progress bars */
.ui-progressbar-value {background-image: url("/static/jq/css/custom-theme/images/ui-bg_inset-soft_100_deedf7_1x100_green.png") !important;}