body{ font-size: 75%; }/* background-image: url('back.png'); background-attachment: fixed; background-repeat: repeat-x; background-color: #361C7F; text-align: center;}*/
.connectedSortable { list-style-type: none; margin: 0 auto 0 auto; padding: 0; }
.connectedSortable li {margin: 3px; padding: 0.3em; padding-left: 1.5em; height: 1.5em; line-height: 1.5em;}
.connectedSortable li .arrows { float: left; margin-left: -1.3em; }

.pullright {float: right;}
.clear {clear: both;}

.tabs-side .ui-tabs-nav li .ui-icon-close { float: left; clear: none; margin: 0.4em 0.2em 0 0; cursor: pointer; }
.tabs-side .ui-tabs-nav li a { float: left; clear: none; }

.tabs-side { position: absolute; background: none; border: none; height: 100%; width: 90%; margin: 0; padding: 0; z-index: -12;} 

.tabs-side .ui-tabs-panel { 
  left: 350px; right: 30px;
  position: absolute !important; overflow: auto;
  height: 100%;
  z-index: -11;
}

.tabs-side .ui-tabs-nav {
  width: 350px; background:none; position: absolute !important; 
  left: 0; border: 0px none; border-radius:0px; padding: 0 0.2em 0.2em 0;
}
.tabs-side .ui-tabs-nav li { 
  float: left; clear: left; height: 90%; width: 340px; margin: 2px; border-radius: 3px;
}
.tabs-side .ui-tabs-nav a {width: 290px;}

.tabs-side .ui-tabs-nav {z-index: -10;}
.tabs-side .ui-tabs-nav li {z-index: -5;}
.tabs-side .ui-tabs-nav li a,span {z-index: -4;}
.tabs-side .ui-tabs-panel * {z-index: -1;}

.hidden {display: none;}
